:root {
  /* CSS HEX */
  --platinum: #d7dedcff;
  --timberwolf: #cfcfcdff;
  --eggplant: #563440ff;
  --dark-purple: #241623ff;
  --sage: #d0cd94ff;
  --myrtle-green: #3c787eff;
  --rich-black: #001524;
  --wenge: #564e58;
  --onyx: #2e3532;
  --sunset: #f6d8ae;
  --imperial-red: #f71735;
  --tiffany-blue: #98e2c6ff;
  --cool-gray: #9a98b5ff;
  --tropical-indigo: #a594f9ff;
  --xanthous: #f7b32bff;
}

.contactSection {
  background: linear-gradient(
    135deg,
    #2f2f2f 25%,
    #333333 25%,
    #333333 50%,
    #2f2f2f 50%,
    #2f2f2f 75%,
    #333333 75%,
    #333333 100%
  );
  background-size: 1500px 1500px;
  min-height: 80vh;
}

.infoCard-body {
  background: linear-gradient(135deg, #5f5f5f 50%, #464646 50%);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(255, 255, 255, 0.4);
}

a {
  color: #459a55;
  text-decoration: none;
}

a:hover {
  color: #459a55;
}
