:root {
  /* CSS HEX */
  --platinum: #d7dedcff;
  --timberwolf: #cfcfcdff;
  --eggplant: #563440ff;
  --dark-purple: #241623ff;
  --sage: #d0cd94ff;
  --myrtle-green: #3c787eff;
  --rich-black: #001524;
  --wenge: #564e58;
  --onyx: #2e3532;
  --sunset: #f6d8ae;
  --imperial-red: #f71735;
  --tiffany-blue: #98e2c6ff;
  --cool-gray: #9a98b5ff;
  --tropical-indigo: #a594f9ff;
  --xanthous: #f7b32bff;
}
.gallery-container {
  padding: 20px;
  margin: 0 auto;
  background: var(--onyx);
  min-height: 100vh;
}

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 50px;
}

.filter-btn {
  background: var(--myrtle-green);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

.filter-btn:hover {
  background: var(--cool-gray);
  color: var(--rich-black);
}
.filter-btn.disabled{
  cursor: not-allowed;
}
.filter-btn.active {
  background: #e11d48;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.gallery-card {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.gallery-card:hover img {
  transform: scale(1.05);
}

.gallery-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
  display: flex;
  align-items: flex-end;
  padding: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-card:hover .gallery-overlay {
  opacity: 1;
}


.gallery-overlay span {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}
